{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Modification mot de passe{% endblock %}

{% block fos_user_content %}

	<div class="col-lg-11 m-auto">
		<h1 class="main-title mt-2">MODIFIER VOTRE MOT DE PASSE</h1>
	</div>

	<div class="col-lg-10 m-auto">
  	{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
	</div>

{% endblock fos_user_content %}

{% block javascripts %}
	{{ parent() }}
  <script src = "{{ asset('JS/profil_user_edit.js') }}"></script>
{% endblock %}
