<p>Vous venez de recevoir un mail depuis le formulaire de contact du site www.nao.fr.</p>

<p>Voici les informations du message :</p>

<p>Nom de l'auteur : {{ emailContact.name }}</p>
<p>Email de contact : {{ emailContact.email }}</p>
<p>Message : {{ emailContact.message }}</p>