{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
	<div class="container-fluid" style="padding-top: 100px;">
		<div class="col-lg-11 m-auto">
			<h1 class="main-title mt-2">MENTIONS LÉGALES</h1>
		</div>

		<div class="col-lg-10 m-auto">

			<h2 class="secondary-title">Nos Amis les Oiseaux - NAO</h2>
			<div class="col-lg-11 m-auto">
				<p>
					<strong>Association loi 1901</strong><br/>
					42 avenue des Zoziau<br/>
					99 999 ROUROU<br/>
					Tél : +33 6 84 86 95 84<br/>
					Email : <a href="mailto:contact@nao.fr">contact@nao.fr</a><br/>
					Représentant légal : Michel DUJARDIN
				</p>
			</div>

			<h2 class="secondary-title">Hébergeur du site</h2>
			<div class="col-lg-11 m-auto">
				<p>
					<strong>OVH</strong><br/>
					SAS au capital de 10 069 020 €<br/>
					RCS Lille Métropole 424 761 419 00045<br/>
					Code APE 2620Z<br/>
					N° TVA : FR 22 424 761 419<br/>
					Siède social : 2 rue Kellermann - 59 100 Roubaix - France
				</p>
			</div>

		</div>



	</div> <!--End container-fluid-->

{% endblock %}