{% extends "base.html.twig" %}

{% block body %}
	<div class="container-fluid" style="padding-top: 100px;">
		<div class="row">
				{% block fos_user_content %}
				{% endblock %}
		</div>
	</div>
{% endblock %}